{% extends 'destination/form/destination-form.twig' %}

{% import 'macros/forms.twig' as forms %}

{% block content %}
    <section class="container">
        <div class="shadow-box super-margin-box super-padding-box">
            <h1>Edit</h1>
            <form class="form-horizontal" method="{{ form.attributes.method }}" action="{{ url('destination', {'action': 'edit', 'id': id}) }}">
                {% for element in form %}
                    <div class="form-group">
                        {{ forms.input(element.attributes.name, element.attributes.class, element.value, element.attributes.type, element.label, 20, element.messages) }}
                    </div>
                {% endfor %}
            </form>
        </div>
    </section>
{% endblock %}