{% extends 'layout/layout.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h1>{{ destination.title }}</h1>
            <p>{{ destination.description }}</p>
        </div>
        <div class="col-md-3">
            <button class="btn btn-success btn btn-block">Book now</button>
            <p>
              <a href={{ url('destination', {'action':'edit', 'id':destination.id})}}>Edit</a>
              <a href={{ url('destination', {'action':'delete', 'id':destination.id})}}>Delete</a>
            </p>
        </div>
    </div>
{% endblock content %}
