// Compass stuff
@import 'compass/css3/border-radius';


$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: $font-stack;
  color: $primary-color;
}

.container .jumbotron {
  @include border-radius(0 6px 6px 6px);
}
