<footer>
    <div class="container text-muted">
        <div class="row">
            <div class="col-md-3">
                <h3>Mehr Info</h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{{ url('about') }}">&Uuml;ber uns</a></li>
                    <li><a href="{{ url('policies') }}">Impressum</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Featured destinations</h3>
                <p>
                    {% for city in featured_cities | sort %}
                        <span>{{ city }}</span>
                    {% endfor %}
                </p>
            </div>
            <div class="col-md-6">
                <h3>Disclaimer</h3>
                <p>
                    Fingerstache forage artisan fashion axe mixtape photo booth letterpress farm-to-table slow-carb cold-pressed tousled PBR&B, pickled Truffaut. Wolf DIY fashion axe pickled farm-to-table bespoke. Cardigan Pinterest Odd Future Truffaut. Salvia pop-up quinoa, heirloom occupy meh Banksy literally lo-fi hella. Hella Pitchfork biodiesel, try-hard Portland DIY small batch Carles flannel tote bag mustache meggings. Lumbersexual hashtag chillwave semiotics.
                </p>
            </div>
        </div>
        <hr class="divider">
        <p class="copyright text-muted text-center small">&copy; ZEND-101 2014.</p>
    </div>
</footer>
<script type="text/javascript">
    $(function(){
        $('.ajax-link').click(function(event){
            event.preventDefault();

            var link = $(this).attr('href');

            $.get(link, function(data){
                $("#time").html(data.time);
            });
        });
    })
</script>