<div class="row dest-preview-card alert-signup-block text-center">
  <h2>Can't find the perfect travel?</h2>
  <p class="lead">Get email alerts when new destinations match this search and be the first to know!</p>
</div>
